@charset "UTF-8";

body {
	background-image: url('/week2/tax/images/tax_background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.page-title {
	text-align : center;
}

.result {
	text-align : center;
	border : double;
	width : 50%;
	margin : 0 auto;
	background-color : #FFFFFF;
}

#taxResult {
	color : #FF0000;
	font-size : 200%;
}